body{
    font-family : 'Berlin Sans FB', 'Trebuchet MS', Arial;
    border:1px solid #424580;
}
.size40{
    font-size:40px;
}
.colorBlueDark{
    color:#283645;
}
.colorBlueLight{
    color:#1490D7;
}
.colorOrange{
    color:#FF8000;
}

.colorWhite{
    color:white;
}

.text-center{
    text-align: center;
}

.bg-colorBlue3{
    background-color:#424580;
}


/*******
** Header
*****/
.header{
    display:flex;
    align-items: center;
    text-align:center;
}

.header .photoPerso, .header .infoPerso{
    width:33.3%;
}
.header .photoPerso img{
    height:200px;
}
.header .posteRecherche{
    flex:auto;
}
/*******
** FIN Header
*****/

/********
** Footer
*********/
.footer{
    padding:10px;
}
/********
** Fin Footer
*********/