body{
    font-family : 'Berlin Sans FB', 'Trebuchet MS', Arial;
    border:1px solid #424580;
}
.size40{
    font-size:40px;
}
.colorBlueDark{
    color:#283645;
}
.colorBlueLight{
    color:#1490D7;
}
.colorOrange{
    color:#FF8000;
}

.colorWhite{
    color:white;
}

.text-center{
    text-align: center;
}

.bg-colorBlue3{
    background-color:#424580;
}


/*******
** Header
*****/
.header{
    display:flex;
    align-items: center;
    text-align:center;
}

.header .photoPerso, .header .infoPerso{
    width:33.3%;
}
.header .photoPerso img{
    height:200px;
}
.header .posteRecherche{
    flex:auto;
}
/*******
** FIN Header
*****/

/********
** Footer
*********/
.footer{
    padding:10px;
}
/********
** Fin Footer
*********/
/********
** nav
*********/
nav ul{
    margin:0;
    padding:0;
    display:flex;
}
nav li{
    list-style-type:none;
    width:33.3%;
    text-align:center;
}
nav a{
    display:block;
    color:white;
    padding:20px 30px;
    text-transform:uppercase;
    text-decoration:none;
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
.menuInfo:hover{
    border-top:5px solid #4c8;
    background-color:rgba(64,200,130,0.25);
}
.menuExperience:hover{
    border-top:5px solid #f1dc4f;
    background-color:rgba(241,211,79,0.25);
}
.menuContact:hover{
    border-top:5px solid #e44d26;
    background-color:rgba(228,77,38,0.15);
}